PORT=5000

# Replace with your MongoDB Connection string (e.g. mongodb://localhost:27017/sprintflow)
MONGO_URI=mongodb://localhost:27017/sprintflow

# Replace with a secure random signature key for token encryption
JWT_SECRET=your_jwt_secret_key_here
